@using Demosite.ViewModels;
@using Demosite.ViewModels.Search;
@model SearchResult;

<section class="page__section">
    <div class="wrapper">
        <div class="flex-grow-1 px-3 pt-3">
            <div class="ps-3">
                <h1 class="fs-3 text-center mb-4">Поиск по сайту</h1>
                <div class="nav__search px-0">
                    @await Component.WidgetZone(Html, "SiteSearchHeaderZone")
                </div>
                @if (!string.IsNullOrEmpty(Model?.SearchCorrection?.Text))
                {
                    var resultSearch = Model.SearchCorrection.ResultsAreCorrected ? Model.SearchCorrection.Snippet : Model.SearchCorrection.OriginalQuery;
                    var insteadSearch = Model.SearchCorrection.ResultsAreCorrected ? Model.SearchCorrection.OriginalQuery : Model.SearchCorrection.Text;
                    <p class="mb-0">Показаны результаты по запросу: @Html.Raw(resultSearch)</p>
                    <p>Искать вместо этого: <a href='@Url.Action("Search", "SearchResultPage", new {query = insteadSearch, withCorrect = !Model.SearchCorrection.ResultsAreCorrected})' class="search-input__initial">@insteadSearch</a> </p>
                }
                <div class="search-result__count">Всего найдено: @(Model != null ? @Model.DocumentsCount : "0")</div>
            </div>
            @if (Model?.DocumentsCount > 0)
            {
                <ul class="list-group list-group-flush news-list mt-0">
                    @foreach (Document document in Model.Documents)
                    {
                        <li class="item">
                            <div class="item-in">
                                    <h4 class="card-title">@document.Title</h4>
                                    <div class="seperator"></div>
                                    <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <a class="link" href="@document.SearchUrl" class="btn btn-light">Перейти</a>
                            </div>
                        </li>
                    }
                </ul>
                <vc:pagination pages-count="@Model.PagesCount" />
            }
        </div>
    </div>
</section>
