@model MTS.IR.ViewModels.ReportBoxViewModel

<section class="page__section">
  <div class="wrapper">
    <div class="page__block">
      <h3 class="h3">@Model.Title</h3>
      <div class="report-slider" data-rs>
        <div class="report-slider__slides" data-rs-slider data-slider-count="@Model.CountReportsToShow">
          @foreach (var item in @Model.Reports)
          {
            <div class="report-slider__slide">
              <div class="report-card">
                <div class="report-card__img">
                  @if (string.IsNullOrEmpty(item.AdditionalAttachedImageUrl))
                  {
                      <img src=@item.Image alt="">
                      <p class="center">@item.Title</p>
                  }
                  else
                  {
                    <a href=@item.AdditionalAttachedImageUrl>
                      <img src=@item.Image alt="">
                      <p class="center">@item.Title</p>
                    </a>
                  }
                </div>
                @if (item.Files.Any())
                {
                  <div class="report-card__body">
                    <div class="report-card__title">@item.Title</div>
                    <div class="report-card__docs">
                      @foreach (var file in item.Files)
                      {
                        <div class="report-card__doc">
                          <a class="document q4-icon_link" href=@Uri.EscapeUriString(file.FileUrl) type="">@file.Title</a>
                        </div>
                      }
                    </div>
                  </div>
                }
              </div>
            </div>
          }
        </div>
        <div class="report-slider__nav slider-arrow" data-rs-nav></div>
      </div>
    </div>
  </div>
</section>
