@model Demosite.ViewModels.BlogPageViewModel
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>@Model.Header</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /bradcam_area  -->
<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    @foreach (var item in Model.Items)
                    {
                        <onscreen-article id="@item.Id" content-id="30745" title="@item.Title" published="@item.Published">
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="@(item.Image??"img/blog/single_blog_1.png")" alt="">
                                    <a href="@item.Url" class="blog_item_date">
                                        <h3>@item.Date.Day.ToString("00")</h3>
                                        <p>@item.Date.ToString("MMM")</p>
                                    </a>
                                </div>

                                <div class="blog_details">
                                    <a class="d-inline-block" href="@item.Url">
                                        <h2>@item.Title</h2>
                                    </a>
                                    <p>
                                        @item.Brief
                                    </p>
                                    <ul class="blog-info-link">
                                        <li><a href="#"><i class="fa fa-user"></i>  @item.CategoryName </a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i> @item.Comments Comments</a></li>
                                    </ul>
                                </div>
                            </article>
                        </onscreen-article>
                    }

                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    @await Component.WidgetZone(Html, "Sidebar")
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
