@using Demosite.Helpers;

@model Demosite.ViewModels.NewsPageViewModel
<main class="main">
  @await Component.WidgetZone(Html, "ContentAbove")
  <div class="page page-news" data-news-page>
    <div class="wrapper">
      @await Html.PartialAsync("../_BreadCrumbs.cshtml", Model.BreadCrumbs)
      <section class="page__section">
        <h1 class="page__main-title">@Model.Header</h1>
        <div class="page-news__filters">
          <div class="page-news__filters-item">
            <div class="select">
              <div class="select__group">
                <label class="select__label" for="2022">Выберите год</label>
                <div class="select__box">
                  <select id="2022">
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="page-news__filters-item">
            <div class="select">
              <div class="select__group">
                <label class="select__label" for="month">Выберите месяц</label>
                <div class="select__box">
                  <select id="month">
                    <option value="0">Все</option>
                    <option value="1">Январь</option>
                    <option value="2">Февраль</option>
                    <option value="3">Март</option>
                    <option value="4">Апрель</option>
                    <option value="5">Май</option>
                    <option value="6">Июнь</option>
                    <option value="7">Июль</option>
                    <option value="8">Август</option>
                    <option value="9">Сентябрь</option>
                    <option value="10">Октябрь</option>
                    <option value="11">Ноябрь</option>
                    <option value="12">Декабрь</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section data-news-section="">
          <div class="page-news__list">
            <div class="news-list" data-news-list="">
              @foreach (var item in Model.Items)
              {
                <onscreen-article id="@item.Id" content-id="30757" title="@item.Title" published="@item.Published">
                  <div class="news-list__item">
                    <div class="card">
                      <div class="card__date">@item.Date.ToString("MMMM d, yyyy")</div>
                      <div class="card__title"><a href="@item.Url">@item.Title</a></div>
                      <div class="card__descr">@item.Brief</div><a class="read-more card__read-more" href="@item.Url">Читать...</a>
                    </div>
                  </div>
                </onscreen-article>
                }
            </div>
          </div>
          <vc:pagination pages-count="@Model.PageCount" />

        </section>


      </section>
    </div>
  </div>
  @await Component.WidgetZone(Html, "ContentBelow")
</main>
