@model Demosite.ViewModels.NewsPageViewModel
<div class="page-news__list">
  <div class="news-list" data-news-list="">
    @foreach (var item in Model.Items)
    {
      <div class="news-list__item">
        <div class="card">
          <div class="card__date">@item.Date.ToString("dd MMMM yyyy")</div>
          <div class="card__title"><a href="@item.Url">@item.Title</a></div>
          <div class="card__descr">@item.Brief</div><a class="read-more card__read-more" href="@item.Url">Read more...</a>
        </div>
      </div>
    }
  </div>
</div>
<vc:pagination pages-count="@Model.PageCount" />
